* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Lato', sans-serif;
}

.wrapper {
  min-width: 320px!important;
  width: 100%;
  margin-bottom: 0px;
}

.container-full {
  margin: 0 auto;
  width: 100%;
}

.main-navigation {
  margin: 0 auto;
  top: 35px;
  left: -1px;
  position: fixed;
  width: 101%;
  height: 100px;
  z-index: 100;
  background-color: #571cae;
  -webkit-box-shadow: 0px 17px 5px -13px rgba(158, 158, 158, 0.68);
  -moz-box-shadow: 0px 17px 5px -13px rgba(158, 158, 158, 0.68);
  box-shadow: 0px 17px 5px -13px rgba(158, 158, 158, 0.68);
}

.main-menu {
  color: #fff;
  padding-top: 40px;
  padding-right: 50px;
  float: right;
}

.social-bar {
  position: fixed;
  background-color: white;
  height: 35px;
  width: 100%;
  z-index: 99;
}

.social-icons {
  margin-top: -3px;
  color: #571cae;
  float: right;
}

.social-icons li {
  display: inline-block;
  margin-right: 15px;
  margin-top: 10px;
  font-size: 18px;
  transition: all 1s;
}

.social-icons li:last-child {
  margin-right: 100px;
}

.social-icons li:hover {
  color: #888;
  cursor: pointer;
}

.main-menu li {
  display: inline-block;
  margin-left: 20px;
  text-transform: uppercase;
  text-decoration: none;
  border-bottom: 0px solid #eee;
  padding-bottom: 3px;
  transition: border-width 0.2s;
}

.main-menu li a,
a:hover,
a:active,
a:visited {
  color: white;
  text-decoration: none;
}

.main-menu li a {
  width: 100%;
  height: 100%;
  display: inline-block;
}

.active {
  border-bottom: 2px solid white!important;
  padding-button: 3px;
}

.main-menu li:hover {
  cursor: pointer;
  border-width: 2px;
}

.main-menu li:first-child {
  margin-left: 0;
}

.logo h1 {
  font-family: 'Pacifico', cursive;
  padding-top: 10px;
  padding-left: 50px;
  color: #fff;
}

.nav-color {
  background-color: #571cae;
}

.about-row {
  background-color: #ECF0F1;
  width: 80%;
  margin: 150px auto 0 auto;
}

.about-section {
  z-index: 99;
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: #ECF0F1;
}

.about-text {
  font-size: 23px;
  text-align: justify;
}

.about-pic {
  margin-top: 8px;
  margin-bottom: 8px;
  width: 300px;
  -webkit-box-shadow: 0px 0px 5px 1px rgba(158, 158, 158, 0.68);
  -moz-box-shadow: 0px 0px 5px 1px rgba(158, 158, 158, 0.68);
  box-shadow: 0px 0px 5px 1px rgba(158, 158, 158, 0.68);
}

.projects-section {
  background-color: #2C3E50;
  width: 100%;
}

.projects-section h2,
.skills-section h2,
.contact-section h2 {
  margin-top: 50px;
  margin-bottom: 50px;
  text-align: center;
  color: white;
}

.skills-section {
  background-color: #ECF0F1;
  width: 100%;
  padding-bottom: 50px;
}

.contact-section h2 {
  margin-top: 50px;
  margin-bottom: 50px;
}

.contact-section {
  background-color: #2980B9;
  position: relative;
  padding-bottom: 150px;
  color: white;
  text-align: center;
  z-index: 1;
}

.contact-section-row {
  background-color: #2980B9;
}

.contact-section input {
  margin: 0 auto;
  border-radius: 0;
  height: 50px;
  border: 0;
  width: 80%;
}

.contact-section textarea {
  width: 80%;
  margin: 0 auto;
  border-radius: 0;
  height: 150px;
  border: 0;
}

.contact-section .btn {
  border-radius: 0;
  padding: 10px 25px 10px 25px;
  text-transform: uppercase;
  margin: 0 auto;
  background-color: white;
  border: 0;
  margin-top: 45px;
}

.strong-text {
  font-weight: 700;
  font-size: 25px;
  display: block;
}

.project-img {
  margin: 0 auto;
  margin-bottom: 30px;
  -webkit-transition: filter 1s;
  transition: filter 1s;
}

.project-img:hover {
  cursor: pointer;
  -webkit-filter: blur(4px);
  filter: blur(4px);
  
  
}

.title-border {
  border: 0px solid white;
  padding: 20px 15px 20px 15px;
  width: 200px;
  margin: 0 auto;
  background-color: #571cae;
  border-radius: 5px;
}

.footer {
  background-color: #f8f8f8;
  padding: 10px;
  color: #777;
  font-size: 18px;
  text-align: center;
  width: 100%;
  margin-bottom: -1000px;
}

.footer p {
  padding-top: 8px;
}

.encourage-contact {
  font-size: 23px;
  margin: 50px;
  text-align: justify;
}

.footer-social {
  color: white;
  font-size: 23px;
  text-align: center;
}

.footer-social ul li {
  text-decoration: none;
  display: inline-block;
  margin: 10px 25px 10px 25px;
  -webkit-transition: color 1s;
}

.footer-social ul li:hover {
  color: #ccc;
  cursor: pointer;
}

.mobile-menu-icon {
  display: none;
  color: white;
  font-size: 23px;
  float: right;
  margin-top: 25px;
  margin-right: 50px;
}

.mobile-menu-icon:hover {
  cursor: pointer;
}

.responsive-menu {
  overflow: hidden;
  z-index: 10;
  top: 20px;
  left: 0;
  height: 0px;
  width: 100%;
  background-color: #3498DB;
  text-transform: uppercase;
}

.mobile-menu {
  margin-top: 20px;
  list-style-type: none;
  text-align: center;
  color: white;
  font-size: 18px;
}

.mobile-menu a,
a:visited,
a:active,
a:hover {
  color: white;
}

.mobile-menu li {
  margin-bottom: 10px;
  text-decoration: none;
}

.coming-soon {
  position: relative;
  clip: rect(0px, 500px, 400px, 0px);
  height: 400px;
  width: 400px;
}

.pen-center {
  text-align: center;
}

@media only screen and (max-width: 991px) {
  .about-text {
    margin-top: 30px;
    text-align: center;
    font-size: 150%;
  }
  .about-pic {
    margin: 10px auto;
  }
  .footer {
    bottom: 250px;
  }
  .pen-frame {
    margin-bottom: 30px;
  }
}

@media only screen and (min-width: 715px) {
  .responsive-menu {
    display: none;
  }
}

@media only screen and (max-width: 715px) {
  .main-menu {
    display: none;
  }
  .mobile-menu-icon {
    display: block;
  }
  .mobile-menu-icon {
    margin-top: 32px;
  }
}

@media only screen and (max-width: 520px) {
  .social-icons {
    float: none;
    display: inline-block;
  }
  
  .social-icons li:last-child {
    margin-right: 0;
  }
  .social-bar {
    text-align: center;
  }
  .footer {
    height: 70px;
    bottom: 0px;
  }
}